#list{
    box-shadow: 0px 0px 5px 5px #999999;
    display: inline-block;
    padding-right: 10px;
}
#danhsach{
    background-color: sandybrown;
    width: min-content;
    box-shadow: 0px 0px 5px 5px #999999;
}
#danhsach ol{
    padding-left: 30px;
}